@model MvcMovies.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details -  @Html.DisplayFor(model => model.Title)</h2>

<fieldset>
    <legend>Movie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<div style="margin-top:20px;">

    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }, htmlAttributes: new { @class="action_button float-left"})

    @Html.ActionLink("Search Movies", "SearchIndex", routeValues: null, htmlAttributes: new { @class = "action_button float-left" })

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/globalize/globalize.js"></script>
    <script src="~/Scripts/globalize/cultures/globalize.culture.fr-FR.js"></script>
    <script>
        $(document).ready(function () {
            Globalize.culture("fr-FR");
           // alert(Globalize.culture().name);
        });
    </script>
  }
